body {
    background: linear-gradient(#003853, #45BB89);
    color: #91D4C2;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    color: #45BB89;
}

.content {
    margin: auto;
    width: 100%;
    text-align: center;
}

.strengths {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    text-align: center;
}

#threeStrengths {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #91D4C2;
    margin: auto;
    width: 50%;

}

p {
    font-family: 'Rubik', sans-serif;
    color: #91D4C2;
    text-align: center;
}

.me {
    margin: auto;
    width: 50%;
}

.nav-items {
    text-decoration: none;
    background-color: #3D82AB;
    color: #91D4C2;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    font-size: 15px;
    border-radius: 8px;
}

.nav {
    text-align: center;

}

.pic {
    margin: auto;
    width: 100%;
}

iframe {
    border-style: none;
    margin: auto;
    width: 850px;
}

#create {
    margin: auto;
    width: 50%;
}

#explore {
    margin: auto;
    width: 50%;
}

.picture {
    margin: auto;
    width: 50%;
    height: 200px;
}
